body {
    font-size: 2em;
    font-family: verdana
}

.outer {
    overflow-y: scroll;
    width: 800px;
    height: 550px;
}

caption {
    height: 50px;
    background-color: gray;
}

.inner {
    width: 1000px;
    height: 550px;
    background-color: #fede76;
    position: relative;
}

.head {
    height: 50px;
    background-color: green;
    position: absolute;
    top: 0px;
    width: 100%;
}

.content {
    position: absolute;
    top: 100px;
    height: 450px;
    overflow-x: auto;
}

.innerContent {
    /* overflow: visible; */
    height: 900px;
    width: 1000px;
}

.tbl {
    width: 100%
}

th {
    text-align: left;
}