.Table {
    border-collapse: collapse;
    th {
        text-align: left;
    }
    thead, tfoot, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    tr {
        min-height:1.2em;
    }
    tbody {
        display: block;
        overflow-y: auto;
        table-layout: fixed;
        overflow-x: hidden; // prevent safari scroll
    }
    .tableheadercell {
        position: relative
    }
    .tableheadercellfilter {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        right:0;
        bottom:0;
        top:0;
        font-size: 0.5em;
    }
}
