:root {
    --width: 700px;
    --height: 500px;
    --header-height: 40px;
    --footer-height: 40px;
    --preTableHeight: 40px;
    --postTableHeight: 25px;
}


/* * {
    padding: 5px;
} */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.preTable {
    background-color: cornflowerblue;
    height: var(--preTableHeight);
}

.postTable {
    background-color: royalblue;
    height: var(--postTableHeight);
}

.wrapper {
    border: 1px solid gray;
    max-width: var(--width);
}

div.tableContainer {
    max-width: var(--width);
    max-height: calc(var(--height) - var(--postTableHeight) - var(--preTableHeight));
    overflow: scroll;
    position: relative;
    padding: 0;
}

th>div {
    padding: 0
}

.cellWrp {
    max-width: 200px;
    max-height: 100px;
    overflow: scroll
}

table {
    position: relative;
    border-collapse: collapse;
}

td,
th {
    padding: 0.25em;
    vertical-align: top;
}

thead {
    height: var(--header-height);
}

tfoot {
    height: var(--footer-height);
}

thead th,
tfoot th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    background: #eee;
    text-align: left;
    vertical-align: middle;
}

thead th {
    top: 0;
}

tfoot th {
    bottom: 0;
}

thead th:first-child,
tfoot th:first-child {
    left: 0;
    z-index: 1;
}

thead th:last-child,
tfoot th:last-child {
    right: 0;
    z-index: 1;
}

tbody th:first-child {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    text-align: left;
    vertical-align: top;
}

tbody th:last-child {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    right: 0;
    background: #FFF;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #eee !important;
}

th.th {
    text-align: center
}