body {
    font-family:verdana;
    background-color:#aaa;
}

.TableCrossHighlight {
    background-color: rgb(223, 249, 255) !important;
}
.TableRowHighlight {
    background-color: #ddd !important;
}
.TableColumnHighlight {
    background-color: #dd6 !important;
}
.TableCellHighlight {
    background-color:rgb(195, 244, 255) !important;
}
.TableHeader {
    background-color: whitesmoke !important
}
.TableFooter {
    background-color: whitesmoke !important
}
.TableLeftMost { 
    background-color: whitesmoke !important
}
.TableRightMost {
    background-color: whitesmoke !important
}

