@darkblue: rgb(56, 109, 111);
@lightblue: cadetblue;
.TableWrapper {
    font-family:verdana;
}
.Table {
    border: 10px solid @darkblue;
    border-collapse: collapse;
}

.TableCaption {
    color:white;
    background-color: @darkblue;
    // line-height:3em;
    font-size:1.5em;
    font-weight:bold;
    border-radius:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
}
.tableCaptionUp{
    border-radius:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-top:10px
}
.tableCaptionDown{
    border-radius:0px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding-bottom:10px
}

.TableHeader {
    height:40px;
    border-bottom: 3px solid @darkblue;
    background-color:@lightblue;
    color:white;
}
.TableBody {
    font-size:0.8em;
}
.TableFooter {
    height:40px;
    border-top: 3px solid @darkblue;
    background-color: #ddd;
    color:cadetblue;

}
.TableHeaderCell {
    padding:10px;
    border-collapse: collapse;
    border-right:1px dotted @darkblue;
    text-transform: capitalize;
}
.TableFooterCell {
    padding:10px;
    color: @darkblue;
    border-collapse: collapse;
    border-right: 1px dotted @lightblue;
    vertical-align: top
}
.TableRow {
    height:80px;
    border-bottom:1px dotted @lightblue;
    // &:hover {
    //     background-color: #eee
    // }
}
.TableCell {
    padding:10px;
    border-collapse: collapse;
    border-right:1px dotted @lightblue;
    &:hover {
        background-color: #eee
    }
}
.TableCellHighlight {
    background-color: #ddd;
}

